pkgbase = xet-core
	pkgdesc = xet client tech, used in Huggingface Hub
	pkgver = 1.5.0
	pkgrel = 1
	url = https://github.com/huggingface/xet-core
	arch = x86_64
	license = Apache-2.0
	makedepends = cargo
	makedepends = maturin
	makedepends = python-installer
	makedepends = openssl
	source = xet-core-1.5.0.tar.gz::https://github.com/huggingface/xet-core/archive/refs/tags/1.5.0.tar.gz
	b2sums = 2dae344a65e2035a5cbf0a68e1240e78e24b26aea19ffd43e5f40a1ccae369e04b361043e8f27a3fa0c1a3ee1be9fe74472312ba7bf31e2566579e27b08bdf03

pkgname = python-hf-xet
	depends = glibc
	depends = libgcc
	depends = openssl
	depends = libssl.so
	depends = libcrypto.so
	depends = python
